In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import kagglehub

path = kagglehub.dataset_download("sobhanmoosavi/us-accidents")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Danya\.cache\kagglehub\datasets\sobhanmoosavi\us-accidents\versions\13

In [68]:
df = pd.read_csv("US_Accidents_March23.csv")
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [69]:
df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [70]:
a = df.City.value_counts()

In [78]:
a = a.head(30)
print(a.to_string())

City
Miami            186917
Houston          169609
Los Angeles      156491
Charlotte        138652
Dallas           130939
Orlando          109733
Austin            97359
Raleigh           86079
Nashville         72930
Baton Rouge       71588
Atlanta           68186
Sacramento        66264
San Diego         55504
Phoenix           53974
Minneapolis       51488
Richmond          48845
Oklahoma City     46092
Jacksonville      42447
Tucson            39304
Columbia          38178
San Antonio       37961
Greenville        37802
Saint Paul        37383
Seattle           36564
Portland          35399
San Jose          34536
Indianapolis      33219
Chicago           32035
Tampa             31193
Denver            30557

In [84]:
df = df[df['City'].isin(a.index)]
df[df.City == 'Columbia']

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,population
168955,A-168962,Source2,2,2016-12-30 15:37:20,2016-12-30 16:21:55,38.429672,-90.180244,NaN,NaN,0.010,...,False,False,False,False,False,Day,Day,Day,Day,0
171092,A-171099,Source2,3,2016-11-06 06:21:23,2016-11-06 06:49:27,38.486439,-90.274841,NaN,NaN,0.010,...,False,False,False,False,False,Night,Day,Day,Day,0
202699,A-202706,Source2,2,2016-10-26 07:15:38,2016-10-26 07:45:17,41.719288,-72.279236,NaN,NaN,0.010,...,False,False,False,True,False,Day,Day,Day,Day,0
228857,A-228864,Source2,2,2016-12-02 06:00:09,2016-12-02 06:44:43,39.202053,-76.859383,NaN,NaN,0.010,...,False,False,False,False,False,Night,Night,Night,Day,0
229852,A-229859,Source2,2,2016-12-07 10:12:01,2016-12-07 10:41:42,40.033890,-76.499596,NaN,NaN,0.010,...,False,False,False,True,False,Day,Day,Day,Day,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7724966,A-7774334,Source1,3,2019-08-16 13:57:23,2019-08-16 14:26:09,34.038070,-81.106360,34.03537,-81.11586,0.575,...,False,False,False,False,False,Day,Day,Day,Day,0
7724977,A-7774345,Source1,3,2019-08-16 17:18:27,2019-08-16 17:48:04,34.038070,-81.106360,34.03537,-81.11586,0.575,...,False,False,False,False,False,Day,Day,Day,Day,0
7725383,A-7774751,Source1,2,2019-08-17 13:46:39,2019-08-17 14:14:00,34.042070,-81.087520,34.03853,-81.10024,0.768,...,False,False,False,False,False,Day,Day,Day,Day,0
7727005,A-7776373,Source1,2,2019-08-21 14:11:28,2019-08-21 14:40:52,34.068710,-80.917760,34.06931,-80.93030,0.719,...,False,False,False,False,False,Day,Day,Day,Day,0
7727592,A-7776960,Source1,2,2019-08-22 09:43:07,2019-08-22 10:10:29,34.064830,-81.043470,34.06045,-81.04933,0.452,...,False,False,False,False,False,Day,Day,Day,Day,0

In [74]:
df.shape

(2077228, 46)

In [77]:
df.City.value_counts()

(30,)

In [79]:
df['population'] = 0
df

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,population
732,A-733,Source2,2,2016-06-21 10:16:26,2016-06-21 11:04:16,37.250729,-121.910713,NaN,NaN,0.000,...,False,False,False,False,False,Day,Day,Day,Day,0
734,A-735,Source2,3,2016-06-21 10:17:17,2016-06-21 11:03:50,37.328312,-121.871811,NaN,NaN,0.000,...,False,False,False,False,False,Day,Day,Day,Day,0
743,A-744,Source2,2,2016-06-21 11:16:14,2016-06-21 12:01:14,38.481682,-121.408768,NaN,NaN,0.000,...,False,False,False,False,False,Day,Day,Day,Day,0
744,A-745,Source2,3,2016-06-21 11:16:55,2016-06-21 12:01:55,38.682713,-121.336288,NaN,NaN,0.000,...,False,False,False,False,False,Day,Day,Day,Day,0
748,A-749,Source2,3,2016-06-21 11:30:58,2016-06-21 12:00:58,37.382370,-121.904358,NaN,NaN,0.000,...,False,False,False,False,False,Day,Day,Day,Day,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728364,A-7777732,Source1,2,2019-08-23 13:42:50,2019-08-23 14:10:06,34.070610,-118.263910,34.06974,-118.26155,0.148,...,False,False,False,False,False,Day,Day,Day,Day,0
7728374,A-7777742,Source1,2,2019-08-23 15:33:46,2019-08-23 16:03:05,32.773510,-117.161180,32.76895,-117.16210,0.320,...,False,False,False,False,False,Day,Day,Day,Day,0
7728376,A-7777744,Source1,2,2019-08-23 15:45:43,2019-08-23 16:14:31,34.043650,-118.443730,34.04934,-118.44842,0.476,...,False,False,False,False,False,Day,Day,Day,Day,0
7728377,A-7777745,Source1,2,2019-08-23 16:43:59,2019-08-23 17:12:34,32.729250,-117.106810,32.72216,-117.10269,0.545,...,False,False,False,False,False,Day,Day,Day,Day,0
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,Day,Day,Day,Day,0

In [82]:
print(a.to_string())

City
Miami            186917
Houston          169609
Los Angeles      156491
Charlotte        138652
Dallas           130939
Orlando          109733
Austin            97359
Raleigh           86079
Nashville         72930
Baton Rouge       71588
Atlanta           68186
Sacramento        66264
San Diego         55504
Phoenix           53974
Minneapolis       51488
Richmond          48845
Oklahoma City     46092
Jacksonville      42447
Tucson            39304
Columbia          38178
San Antonio       37961
Greenville        37802
Saint Paul        37383
Seattle           36564
Portland          35399
San Jose          34536
Indianapolis      33219
Chicago           32035
Tampa             31193
Denver            30557

In [88]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'], format='mixed')
df['Month'] = df['Start_Time'].dt.month

In [90]:
df.Month.value_counts()

Month
12    219189
11    203429
1     198971
10    186413
9     179117
2     171476
4     166269
8     165688
5     154327
3     150711
6     147781
7     133857
Name: count, dtype: int64

In [92]:
df.to_csv('US_Accidents_March23.csv', index=False)